{%extends 'dev/base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}
{{block.super}}
<div class="container" id="container">
    {% load cloudinary %}
    <div class="postImage">
        <h2>Submit Your Project</h2>
        <hr>
        <form method="post" enctype="multipart/form-data" action="{% url 'newpost' %}">
            {%csrf_token%}
        
            {% bootstrap_form form %}
            <input type="submit" value="Post">
        </form>
    </div>         
</div>
{% endblock %}