{%extends 'dev/base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}
{{block.super}}

<div class="container" id="container">
    <div class="row flex-lg-nowrap">  
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                        <img class="card-img-top img-responsive" src="{{project.image.url}}">
                        <div class="card-img-overlay profileflex">
                            {% if lead_project.developer.profile_pic.url %}
                                <a href="#" data-toggle="dropdown" class="nav-link user-action"><img src="{{ lead_project.developer.profile_pic.url}}" class="avatar" alt="Avatar"></a>
                            {% else %}
                                <a href="#" data-toggle="dropdown" class="nav-link user-action"><i class="fa fa-user-circle-o avatar"></i></a>
                            {% endif %}
                            <h4 class="card-title">{{ project.developer.user.username | title}}</h4>
                        </div>
                    </div>
                  </div>
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="" class="active nav-link">Review</a></li>
                  </ul>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                        <form method="post" enctype="multipart/form-data" action="{% url 'review' project.id %}">
                            {%csrf_token%}
                            <label for="comment">Review</label>
                            <textarea name="comment" id="comment" cols="30" rows="3" class="form-control"></textarea>

                            <label for="design_rating">Design rating</label>
                            <input type="range" id="rangeInput" name="design_rating" min="0" max="10" value="0" step="0.5" oninput="amount.value=rangeInput.value">
                            <output name="amount" id="amount" for="rangeInput">0</output>

                            <label for="usability_rating">Usability rating</label>
                            <input type="range" id="usabilityInput" name="usability_rating" min="0" max="10" value="0" step="0.5" oninput="usabilityValue.value=usabilityInput.value">
                            <output name="usabilityValue" id="usabilityValue" for="usabilityInput">0</output>

                            <label for="content_rating">Content rating</label>
                            <input type="range" id="contentInput" name="content_rating" min="0" max="10" value="0" step="0.5" oninput="contentValue.value=contentInput.value">
                            <output name="contentValue" id="contentValue" for="contentInput">0</output>

                            <input type="submit" value="post">
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    </div>

{% endblock %}